<div class="container">
<form class="form mat-elevation-z8">
    <h1>Help desk</h1>
    <img src="assets/img/login-image.svg" alt="Help-Desk Login">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input required [(ngModel)]="creds.email" name="email"  [formControl]="email" matInput placeholder="Ex. amendoim@gmail.com">
    </mat-form-field>
        
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input required [(ngModel)]="creds.senha" name="senha" [formControl]="senha" type="password" matInput placeholder="Ex. 1234">
        </mat-form-field>
        <button [disabled]="!validaCampos()" class="full-width" mat-stroked-button color="primary">Primary</button>
       
    </form>
</div>